@charset "UTF-8";
a:hover {
    text-decoration:none;
}
/* Layout */
#wrapper
{
    width: 100%;
    padding: 0;
    margin: 0;
}
.panel-sidebar-left {
    width: 200px;
    float: left;    
    padding-left:5px;
    padding-right:3px;
}
.panel-sidebar-right {
	display:none;
    /*width: 200px;
    float: right;*/
}
.panel-main-content {
    padding-left: 205px;    
    /*padding-right:205px;*/
}
.panel-sidebar-right img {
    width:200px;
    margin-bottom:5px;
    border:1px solid #ccc;
}
/* Nav bar */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #000;
    background: #fff;
}
.navbar-nav > li {
    border-right: 1px solid #fff;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
/*DROPDOWN*/
/* Expand dropdown on hover*/
.dropdown-hover:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.dropdown-menu {
    min-width: 200px;
    left: -2px;
}
.dropdown-menu.columns-2 {
    min-width: 400px;
}
.dropdown-menu.columns-3 {
    min-width: 600px;
}
ul.multi-column-dropdown {
    padding-left: 0;
}
.dropdown-header {
    color: rgb(66, 139, 202);
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
    font-size: 12px;
    font-family: Tahoma;
}
.multi-column-dropdown {
    list-style: none;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.multi-column-dropdown > .disabled > a,
.multi-column-dropdown > .disabled > a:hover,
.multi-column-dropdown > .disabled > a:focus {
    color: #777;
}
.multi-column-dropdown > .disabled > a:hover,
.multi-column-dropdown > .disabled > a:focus {
    text-decoration: none;
    cursor:not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

@media only screen and (max-width: 768px) {
    .panel-sidebar-left {
        width: 170px;
        font-size:12px !important;
    }
    .panel-sidebar-right { display:none; }
    .panel-main-content {
        padding-left: 170px !important;    
        padding-right:0px !important;
    }
}
@media only screen and (max-device-width: 768px) {    
    .panel-sidebar-left {
        width: 170px;
        font-size:12px !important;
    }
    .panel-sidebar-right { display:none; }
    .panel-main-content {
        padding-left: 170px !important;    
        padding-right:0px !important;
    }
}